

/*html {
    background-image: url(../img/wall.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    Width: 1920px; 
  } */
  

body {
    font-family: Montserrat;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    background-color: black;
    }

	/*Width: 1920px;
    Height: 1080px;
    background-color: black;*/
    


div, p, input, button, form, span, a, ul, li, table, thead, tr, th, td {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.header {
 background-color: black; 
 padding-top: 15px;
 padding-left: 387px; 
 color: white; 
}

.wrapper {
    display: flex; 
    /*Width: 1157px; */
    /*justify-content: space-between; растянуть*/
}

.logo {
    font-family: Caveat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left; 
    color: #1ACD4C;
    
    }

.line {
    margin: 8px 0px 0px 15px;
}



.cardNum {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: 8px 0px 0px 15px;
    }

h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;  
        text-transform: uppercase; 
        margin: 11px 0px 0px 45px;
        } 
        
.title span {
        text-decoration: line-through;
        color: rgb(54, 54, 54);
        }


/*.head {
        display: flex;
        justify-content: space-between;
        align-items:center; 
} */

.table {
width: 1146px;
}

caption {  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
   
    letter-spacing: 1px;
} 
.form {
    padding-left: 387px; 
    padding-top: 20px;
}

/*p {
    color: white;
}

/*width: 517px;
    height: 41px;
    left: 387px;
    top: 150px; */



table, th, td {
    border-style: solid;
    border-width: 1px;
    border-color:white;
    width: 1146px;
    
}

td {
    height: 53px;
}


.footer {
    display: flex;
    padding-left: 681px;
    padding-top: 35px;
}

.footer div {
    margin: 0 px 10px 0 px 10px;  
}